
/*Change an image on hover = content: url("Pictures/Test2.png")*/
/* #2b8f8dff Green blue color */

/*:root {
    --background-BlackAlpha: #0000004d
}*/

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    background-image: url('Pictures/WebBG.png');
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #234f74ff;
    border: 3px solid #d99300ff;
    width: 100%;
    height: 150px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

nav div {
    height: 100%;
}

nav img {
    height: 90%;
    margin-top: 5%;
}

nav img:hover {
    filter: hue-rotate(180deg);
}

#background {
    display: flex;
    flex: 0.9;
    background-color: rgba(0, 0, 0, 0.5);
}

#center {
    display: block;
    width: 80%;
}

#main {
    background-color: #234f74ff;
    border: 3px solid #d99300ff;
    width: 85%;
    margin: auto;
    margin-bottom: 20px;
}

#aboutMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#aboutBG {
    padding-right: 10%;
    padding-left: 10%;
    background-color: #39b1ccff;
    border: 3px solid #2b8f8dff;
}

#aboutBG p {
    color: #342300ff;
    text-shadow: 1px 1px 2px #d99300ff;
}

#projectList {
    display: none;
    align-items: center;
    justify-content: left;
    overflow-x: auto;
}

common-footer {
    flex: 0.1;
    height: 100%;
    background-color: #234f74ff;
    color: white;
    padding-left: 10px;
}

common-footer a:link {
    color: #39b1ccff
}

common-footer a:visited {
    color: #d99300ff
}

.side {
    display: block;
    width: 10%;
    background-color: black;
}

.pointer {
    cursor: pointer;
}

table {
    table-layout:fixed;
    border-spacing: 20px;
}

td {
    width: 270px;
    background-color: #39b1ccff;
    border: 3px solid #2b8f8dff;
}

td p {
    text-align: center;
}

td div{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    padding: 5%;
}

td img{
    padding: 2%;
}

svg{
    margin-left: auto;
    margin-right: auto;
}

pre {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}