
/*Change an image on hover = content: url("Pictures/Test2.png")*/
/* #2b8f8dff Greed blue color */

body {
  background-image: url('Pictures/WebBG.png');
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size: cover;
  background-position: center;
}

nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #234f74ff;
    border: 3px solid #d99300ff;
    width: 80%;
    height: 150px;
    margin: auto;
}

nav a {
    height: 100%;
}

nav img {
    height: 90%;
    margin-top: 5%;
}

nav img:hover {
    filter: hue-rotate(180deg);
}

#main {
    background-color: #234f74ff;
    border: 3px solid #d99300ff;
    width: 75%;
    margin: auto;
}

#aboutMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: rgb(219, 142, 27);
}

#aboutBG {
    padding-right: 10%;
    padding-left: 10%;
    background-color: #39b1ccff;
    border: 3px solid #2b8f8dff;
}

#projectList {
    display: none;
    align-items: center;
    justify-content: left;
    overflow-x: auto;
}

table {
    table-layout:fixed;
    border-spacing: 20px;
}

td {
    width: 270px;
    background-color: #39b1ccff;
    border: 3px solid #2b8f8dff;
}

td p {
    text-align: center;
}

td div{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    padding: 5%;
}

td img{
    padding: 2%;
}

svg{
    margin-left: auto;
    margin-right: auto;
}

pre {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}